
{% extends "core/base.html" %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %}" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Tradición familiar italiana</span>
                  <span class="section-heading-lower">Nuestra historia</span>
                </h2>
                <p>Dal 1976 tostiamo il nostro caffè.
                  Lo curiamo dalla selezione dei suoi chicchi, alla tazzina, preservando l'amore e il rispetto che abbiamo per quello che facciamo, fin dal primo giorno. Per questo il nostro caffè è UNICO.
                  Attraverso il nostro esclusivo processo di tostatura, siamo in grado di evidenziare le note e le caratteristiche dei diversi chicchi. </p>
                <p>Un aroma pieno, con note di cioccolato, pane tostato, miele e caramello e un sapore corposo, con un tocco di freschezza, è ciò che rende inconfondibile un autentico caffè italiano.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}