
{% extends "core/base.html" %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <!-- Cabecera -->
    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/intro.jpg' %}" alt="">
          <link rel="shortcut icon" href="favicon.ico">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Déjate sorprender</span>
              <span class="section-heading-lower">Te gustará</span>
            </h2>
            <p class="mb-3">Trabajamos sólo con los mejores ingredientes. Una vez lo pruebes, nuestro café será la mejor forma de empezar tu rutina diaria.
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="store.html">Visítanos</a>
            </div>
          </div>
        </div>
      </div>
    </section>
      <!-- Mensaje -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">L'espresso è di origine super italiana, sia per quanto riguarda la fabbricazione delle macchine da caffè, sia per il metodo di produzione del caffè. La produzione di macchine per caffè ed espresso si diffuse in Italia come versione migliorata di un prototipo che fu presentato all'Esposizione Universale di Parigi nel 1855.
                L'Italia è attualmente il secondo produttore ed esportatore di caffè tostato e macinato in Europa</p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}